/ArrayOverflowException.class
/Collection$1.class
/Collection.class
/Complex.class
/Creature.class
/Fear.class
/FileWorker.class
/Location.class
/Main.class
/Monster$1.class
/Monster.class
/MoreThanOneException.class
/Person$1HowOld.class
/Person.class
/Place$Cataclysm.class
/Place$Cemetry.class
/Place.class
/Smelt.class
/Traveler.class
